composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
# Credenciales (se suben solo los .example.php)
config/conexion.php
config/mailer.php
auth/google/config.php
# Archivos subidos por usuarios
uploads/**
!uploads/**/
!uploads/**/.gitkeep
